<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>{{ title }} - AscaTools</title>
    {% else %}
    <title>microblog</title>
    {% endif %}

    <style>
        ul.nav {text-align: center;}
        ul.nav li {display: inline-block;margin:10px;}
    </style>

    {% block extra_header %}{% endblock %}
</head>
<body>
<div>
    <span>AscaTools:</span>
    <ul class="nav" style="display: inline;">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('starfinder_attack_macro') }}">Starfinder Attack</a></li>
        <li><a href="{{ url_for('starship_macro') }}">NPC Starship</a></li>
        <li><a href="{{ url_for('generic_macro') }}">Generic Macro</a></li>
        <li><a href="{{ url_for('saves_macro') }}">Saving Throws</a></li>
        <li><a href="{{ url_for('initiative_macro') }}">Initiative</a></li>
    </ul>
</div>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>